[submodule "lib/external/glfw"]
	path = lib/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/external/tinyobjloader"]
	path = lib/external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "lib/external/stb"]
	path = lib/external/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/external/doxygen-awesome-css"]
	path = lib/external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/external/imgui"]
	path = lib/external/imgui
	url = git@github.com:ocornut/imgui.git
