# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
cmake-build-debug/*
cmake-build-release/*
cmake-build-release-tests/*
build/*
out/*
include/VEngine/Generated/*

# IDE
.idea/*
.vs/*

# Binary files
vengine
vengine_tests
vengine.exe
vengine.ilk
vengine.pdb
vengine_tests.exe
