# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
cmake-build-debug/*
build/*

# Doxygen
documentation/.doxygen/html/*
documentation/.doxygen/latex/*

# Intellij IDEA
.idea/*

# Binarys
vengine
*.spv
/plugins/*
